a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

fieldset,
img {
  border: 0;
}

iframe {
  display: block;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

i,
code,
b {
  font-weight: normal;
  font-style: normal;
}

code {
  background: transparent;
}

.wrap {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  background: #f0efed;
  padding: 0 0.4rem;
}

.footer > p {
  height: 1.33333rem;
  line-height: 1.33333rem;
  color: #00c3ad;
}

.footer .nav {
  width: 100%;
  height: 1.33333rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .nav a {
  width: 20%;
  text-align: center;
  border: 1px solid #00c3ad;
  border-radius: 0.13333rem;
  padding: 0.13333rem 0;
  color: #00c3ad;
}

.footer .nav a:nth-child(3) {
  text-align: right;
  border: 0;
  color: #000;
}

.footer .wode {
  width: 100%;
  height: 2.13333rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer .wode a {
  color: #00c3ad;
}

.footer .wode a:after {
  content: "|";
  color: #000;
  padding: 0 0.4rem;
}

.footer .wode b {
  color: #00c3ad;
}

.footer .find {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer .find p {
  flex-shrink: 0;
}

.footer .find ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .find ul li {
  width: 33%;
  text-align: center;
  color: #00c3ad;
}

.footer .aa {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer .aa a {
  color: #00c3ad;
  margin: 0 0.26667rem;
}

.footer h6 {
  color: #00c3ad;
  text-align: center;
}

.footer .add {
  width: 100%;
  height: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .add p {
  color: #666;
}
